<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">말씀 화폐제도</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="material-symbols-rounded nav-icon" aria-hidden="true">home</span>
                홈
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="admin">
                <span class="material-symbols-rounded nav-icon" aria-hidden="true">dashboard</span>
                대시보드
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="admin/groups">
                <span class="material-symbols-rounded nav-icon" aria-hidden="true">groups</span>
                조 관리
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="admin/verses">
                <span class="material-symbols-rounded nav-icon" aria-hidden="true">library_books</span>
                말씀 관리
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="admin/use">
                <span class="material-symbols-rounded nav-icon" aria-hidden="true">task_alt</span>
                암송 처리
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="admin/qr">
                <span class="material-symbols-rounded nav-icon" aria-hidden="true">qr_code</span>
                QR 링크
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="admin/use-qr">
                <span class="material-symbols-rounded nav-icon" aria-hidden="true">qr_code_2</span>
                사용 QR
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="admin/logout">
                <span class="material-symbols-rounded nav-icon" aria-hidden="true">logout</span>
                로그아웃
            </a>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : "collapse show";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
